/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'InterRegular';
  src: local('InterRegular'), url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'InterBold';
  src: local('InterBold'), url('/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterSemiBold';
  src: local('InterSemiBold'),
    url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

tbody {
  tr {
      th {
        .css-7yl8xw-MuiTableCell-root {
              height: 8px !important;
              border-bottom: 0px solid rgba(224, 224, 224, 1); 
          }
      }
      td {
          &:nth-of-type(3) {
              .remarkDropdown {
                  width: 100% !important;
              }
          }

          &:nth-of-type(4) {
              .remarkDropdown {
                  width: 100% !important;
              }
          }

          .css-c4m7se-MuiTableCell-root {
              border-bottom: 0px solid rgba(224, 224, 224, 1); 
          }
      }
  }
}