/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'InterRegular';
  src: local('InterRegular'), url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'InterBold';
  src: local('InterBold'), url('/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterSemiBold';
  src: local('InterSemiBold'),
    url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

.unclickableHorizontalList {
  display: inline-block !important;
  width: auto !important;
}

.paddingTopBottomZero {
  padding: 13px 0px !important;
}